/* Write your CSS here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #616e7c;
  margin-left: 0;
  margin-right: 0;
}

.logo-image {
  height: 60px;
  width: 60px;
}

.menu {
  height: 30px;
  width: 30px;
  cursor: pointer;
  outline: none;
}
.menu-button {
  border: 0;
  background-color: transparent;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inside-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}
.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.headings {
  cursor: pointer;
  outline: none;
}
.close-button-container {
  margin-top: 0;
  padding: 0;
}
